.dashboard {
  &__container {
    height: 100%;
    padding: 100px 0;
  }

  &__container-body--grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__container-body--list {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__footer {
    margin-bottom: 50px;
  }
}
