header.MuiAppBar-positionFixed {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-top-bar {
  &__heading {
    padding: 10px;
  }

  &__button {
    margin: 0 10px !important;
  }
}
