.single-post {
  height: 100%;
  margin-top: 150px;

  &__paper {
    padding: 40px 50px;
  }

  &__body {
    margin: 0 auto;
    max-width: 80%;
  }

  &__content-top {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__content-text {
    display: block;
    margin-bottom: 20px !important;
    text-align: left;
  }

  &__img-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 55px;
    width: 100%;
  }
}
